.contact-card {
    background-color: var(--gris); 
    padding: 30px;
    border-radius: 30px;
    max-width: 700px;
    width: 90%; 
    margin: 20px auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.contact-form {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

label {
    font-family: var(--baloo);
    font-weight: var(--bold);
    font-size: 1.2rem;
    color: var(--blanc);
    margin-bottom: 250px;
    text-align: left; 
}


input, textarea {
    padding: 15px;
    font-family: var(--inter);
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1e252c;
    color: var(--blanc);
    width: 100%; 
    max-width: 600px;
}

input::placeholder, textarea::placeholder {
    color: #888; 
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--violet);
}

.submit-button {
    padding: 15px 50px; 
    font-family: var(--baloo);
    font-weight: var(--bold);
    font-size: 1.3rem;
    color: var(--blanc);
    background-color: var(--violet);
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    text-align: center; 
    margin: 0 auto; /* Centre horizontalement le bouton */
    margin-top: 30px;
    display: block; /* S'assurer qu'il se comporte comme un élément block pour le centrage */
}

.submit-button:hover {
    background-color: #6a2db9; 
    transform: scale(1.05); 
}

.submit-button:focus {
    outline: 2px solid #6a2db9; 
    outline-offset: 3px;
}

@keyframes fadeInUpOnScroll {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.scroll-animate {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animate.visible {
    animation: fadeInUpOnScroll 0.8s ease-out forwards;
}



  
@media screen and (max-width: 768px) {
    .contact-card {
        padding: 20px;
        border-radius: 20px;
        max-width: 90%;
        margin: 10px auto;
        box-sizing: border-box; 
    }

    .contact-form {
        gap: 15px; 
        width: 100%;
    }

    .form-group {
        width: 100%; 
        max-width: 100%; 
    }

    input, textarea {
        padding: 10px; 
        font-size: 0.9rem; 
        border-radius: 5px;
        width: 100%; 
        box-sizing: border-box; 
    }

    .submit-button {
        padding: 10px 20px; 
        font-size: 1.1rem;
        border-radius: 20px;
        max-width: 100%; 
        width: 100%;
        margin-top: 20px;
    }
}

