:root {
    /* Colors */
    --violet: #833CF2;
    --noir: #141414;
    --blanc: #F0F0F0;
    --gris : #161b22;

    /*Font*/
    --baloo : 'Baloo 2';
    --bold: 900;

    --inter : 'Inter';

    
    /* Espacement courant sur le web */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    
     /* Typographie */
     --font-weight-bold: 700;
}
