:root {
    /* Colors */
    --violet: #833CF2;
    --noir: #141414;
    --blanc: #F0F0F0;
    --gris : #161b22;

    /*Font*/
    --baloo : 'Baloo 2';
    --bold: 900;

    --inter : 'Inter';

    
}
