/*PARTIE PRÉSENTATION*/
.single-project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    color: var(--blanc);
    font-family: var(--inter);
    margin-top: 50px;
    margin-bottom: 100px;
}

.project-image-custom {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 100%;

}

.project-description-custom img {
    max-width: 100%;
}

.project-info-custom {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: flex-start; 
}

.project-description-custom .custom-project-title:before {
    display: none;
}

.project-info-custom p {
    padding: 15px 40px;
    border-radius: 30px;
    background-color: var(--violet);
    color: var(--blanc);
    font-size: 0.9rem;
    font-weight: var(--bold);
    margin-right: 10px; 
}

.project-image-custom img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.project-description-custom {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .single-project-container {
        grid-template-columns: 1fr;
    }
}



/*PARTIE CONCEPTION*/
.concept-container {
    margin: 50px auto;
    max-width: 1200px;
    color: var(--blanc);
    font-family: var(--inter);
}

.concept-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.concept-item {
    border-radius: 30px !important;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.1));
    position: relative;
}

.concept-item img {
    width: 100%;
    border-radius: 30px;
    aspect-ratio: 1/1;
}

.concept-caption {
    font-size: 1rem;
    font-weight: var(--bold);
    color: var(--violet);
    margin-top: 10px;
}

.fixed-right {
    margin-left: auto;
}

.description-card {
    text-align: left;
    margin: 0 !important;
}

.concept-keywords {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

.concept-keywords p {
    background-color: var(--violet);
    color: var(--blanc);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: var(--bold);
}

.concept-description {
    background-color: var(--violet);
    color: var(--blanc);
    font-size: 1rem;
    line-height: 1.6;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .concept-grid {
        grid-template-columns: 1fr;
    }
}




/*PARTIE BILAN*/
.section-container {
    display: grid;
    grid-template-columns: 1fr; 
    align-items: start;
    color: var(--blanc);
    font-family: var(--inter);
    position: relative;
    margin-bottom: 100px;
}

.section-description {
    line-height: 1.6;
    color: var(--blanc);
    padding-right: 20px;
}

.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    margin-top: 10px; 
    justify-items: start; 
}

.images-container img {
    width: 100%;
    height: auto;
    max-width: 300px; 
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.project-description {
    margin-top: 120px;
}

@media screen and (min-width: 768px) {
    .description-bilan {
        max-width: 60%;
    }

    .images-container-secondary {
        display: flex !important;
        justify-content: end;
    }
}


@media screen and (max-width: 768px) {
    .project-info-custom {
        flex-direction: column;
        width: 100%;
        gap: 24px;
        text-align: center;
        margin-top: 48px;

    }

    .project-info-custom p {
        margin: 0;
    }
}

.fade-in, .scroll-in {
    opacity: 0;
    transform: translateY(20px); 
    transition: all 0.6s ease-in-out;
}

.fade-in-visible, .scroll-in-visible {
    opacity: 1;
    transform: translateY(0);
}
